.events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.event {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #ddd;
    width: 100%;
    opacity: .7;
}

.event__name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.event__location, .event__date {
    margin-bottom: 5px;
}

.event__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn {
    background-color: #383838;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0066cc;
}

.btn-2 {
    margin-right: 10px;
}
  
  .btn-3 {
    background-color: #383838;
  }
  
  .icon-create::before {
    content: "\f067";
    font-family: FontAwesome;
    margin-right: 5px;
  }

  .eventForm{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
