.events {
    justify-content: center;
}

.event {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #ddd;
    width: 100%;
    opacity: .7;
}

.event__name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    justify-content: flex-end;
    align-items: flex-end;
}

.event__location, .event__date {
    margin-bottom: 5px;
}

.event__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.event__body {
    border-color: #0066cc;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
    justify-content: center;
    align-items: center; 
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* background-color: black; */
    /* border-radius: 2%; */
    /* border-color: #c6920eb7; */
    /* border-width: .2rem; */
    /* border-style:groove; */
    width: 60rem;
    height: 31.7rem;
    /* margin-top: 7rem;
    margin-left: 10rem; */
    margin: 0 auto;
    /* margin-top: -200; */
    overflow:scroll;
    /* padding-bottom: 50; */
    /* border: inset; */
    /* opacity: 75%; */
    /* color: green */
    
}
.btn {
    background-color: #383838;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0066cc;
}

.btn-2 {
    margin-right: 10px;
    justify-content: left;
}
  
  .btn-3 {
    background-color: #383838;
    color: #fff;
    /* justify-content: right; */
    flex-direction: row;
    justify-content: space-around;
  }
  
  .icon-create::before {
    content: "\f067";
    font-family: FontAwesome;
    margin-right: 5px;
  }

  .eventForm{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
